@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* 
com display grid consigo configurar para
ficar na tela a quantidade de coluna que eu quiser
 
*/

body {
    background-color: #000000;
}

.div-projeto-todo {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

header {
    color: #fff;
    margin-bottom: 5vh;
}

h1 {
    text-align: center;
    font-size: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

article {
    transition: none;
}

.div-buttons {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5vh;
    width: 15%;
    height: 10vh;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.div-cardapio-complet {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 5vh;
    justify-content: center;
    width: 100%;
}

.cardapio-individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    text-align: center;
    border: 2px solid #ffff;
    border-radius: 12px;
    width: 100%;
}

img {
    width: 50%;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3vh;
}

.buttonComprarLanche {
    display: flex;
    justify-content: center;
    background-color: aqua;
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 2vh;
    width: 70%;
    margin: 10px 0;
}


.buttonComprarLanche:hover {
    opacity: .8;
}

.buttonComprarLanche:active {
    opacity: .5;
}


/* tem que tirar a função displey flex la de cima, e depois configurar, p - REDUCE */
.cardapio-individual-soma {
    width: 100%;
    display: block;
    margin-top: 70%;
    margin-left: 120%;
    border: solid 1px white;
    border-radius: 10px;
    padding: 3vh;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: #0c0b0b;
    }

    .div-projeto-todo {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh;
    }

    header {
        color: #fff;
        margin-bottom: 5vh;
    }

    h1 {
        text-align: center;
        font-size: 7vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 10px;
    }

    article {
        transition: none;
    }

    .div-buttons {
        margin: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2.5%;
    }

    button {
        background-color: #79cb15;
        border: none;
        border-radius: 5px;
        color: #000000;
        cursor: pointer;
        font-weight: bold;
        font-size: 2vh;
        width: 20%;
        height: 10vh;
    }

    button:hover {
        opacity: 0.8;
    }

    button:active {
        opacity: 0.5;
    }

    .div-cardapio-complet {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        gap: 1vh;
        justify-content: center;
        width: 100vw;
    }

    .cardapio-individual {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: 2px solid #ffff;
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }

    img {
        width: 60%;
    }

    p {
        color: #fff;
        font-size: 90%;
        width: 100%;
    }

    .buttonComprarLanche {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
        border-radius: 10px;
        color: #000000;
        cursor: pointer;
        font-size: 2vh;
        width: 90%;
        height: 15%;
    }


    .buttonComprarLanche:hover {
        opacity: .8;
    }

    .buttonComprarLanche:active {
        opacity: .5;
    }

}